<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/top">

</div>

<div id="templatemo_main">

    <h2 th:text="${category.name}"></h2>
    <div>
        <a href="/catalog/view">Return to Main Menu</a>
    </div>
    <br>
    <div  align="center" >
        <table id="table-4">
            <tr>
                <th>Product ID</th>
                <th>Name</th>
            </tr>
            <tr th:each="product:${productList}">
                <td th:text="${product.productId}">prductId</td>
                <td th:text="${product.name}">Product Name</td>
            </tr>
            <!--<c:forEach var="product" items="${sessionScope.productList}">-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<a href="viewProduct?productId=${product.productId}">${product.productId}</a>-->
                    <!--</td>-->
                    <!--<td>${product.name}</td>-->
                <!--</tr>-->
            <!--</c:forEach>-->
        </table>
    </div>


</div>

<div th:replace="common/buttom">

</div>
</body>
</html>