<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>My Pet Store</title>
</head>
<body>
<div th:replace="common/top">

</div>

<div id="templatemo_main">

    <div>
        <a th:href="@{'/catalog/viewProduct?productId='+${item.product.productId}}" th:text="'Return to '+${item.product.productId}">Return to</a>
    </div>
    <br>

    <table id="table-4">
        <tr>
            <td th:utext="${item.product.description}">product.description</td>
        </tr>
        <tr>
            <td><b th:text="${item.itemId}"> item.itemId </b></td>
        </tr>
        <tr>
            <td>
                <b><font size="4" th:if="${item.attribute1}!=null" th:text="${item.attribute1}+' '"></font></b>
                <b><font size="4" th:if="${item.attribute2}!=null" th:text="${item.attribute2}+' '"></font></b>
                <b><font size="4" th:if="${item.attribute3}!=null" th:text="${item.attribute3}+' '"></font></b>
                <b><font size="4" th:if="${item.attribute4}!=null" th:text="${item.attribute4}+' '"></font></b>
                <b><font size="4" th:if="${item.attribute5}!=null" th:text="${item.attribute5}+' '"></font></b>
                <b><font size="4" th:if="${item.attribute1}!=null" th:text="${item.attribute1}+' '"></font></b>
                <b><font size="4" th:if="${item.product.name}!=null" th:text="${item.product.name}+' '"></font></b>
            </td>
        </tr>
        <tr>
            <td th:text="${item.product.name}"></td>
        </tr>
        <tr>
            <td th:if="${item.quantity<=0}">
                Back ordered.
            </td>
            <td th:if="${item.quantity>0}">
                <p th:text="${item.quantity}"></p>in stock.
            </td>
        </tr>
        <tr>
            <td th:text="${#numbers.formatDecimal(item.listPrice,0,2)}"></td>
        </tr>

        <tr>
            <td>
                <a class="Button" th:href="@{'/catalog/addCartToItem?workingItemId='+${item.itemId}}" th:utext="'Add to Cart'"></a>
            </td>
        </tr>
    </table>

</div>

<div th:replace="common/buttom">

</div>
</body>
</html>