<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>My Pet Store</title>
</head>
<body>
<div th:replace="common/top">

</div>

<div id="templatemo_main">

    <h2 th:text="${product.name}"></h2>

    <div>
        <a th:href="@{'/catalog/viewCategory?categoryId='+${product.categoryId}}" th:text="'Return to '+${product.categoryId}">Return to</a>
    </div>
    <br>

    <table id="table-4">
        <tr>
            <th>Item ID</th>
            <th>Product ID</th>
            <th>Description</th>
            <th>List Price</th>
            <th>&nbsp;</th>
        </tr>
        <tr th:each="item:${itemList}">
            <td>
                <a th:href="@{'/catalog/viewItem?itemId='+${item.itemId}}" th:text="${item.itemId}">itemId</a>
            </td>
            <td th:text="${item.product.productId}">
                productId
            </td>
            <td>
                <h th:if="${item.attribute1}!=null" th:text="${item.attribute1}+' '"></h>
                <h th:if="${item.attribute2}!=null" th:text="${item.attribute2}+' '"></h>
                <h th:if="${item.attribute3}!=null" th:text="${item.attribute3}+' '"></h>
                <h th:if="${item.attribute4}!=null" th:text="${item.attribute4}+' '"></h>
                <h th:if="${item.attribute5}!=null" th:text="${item.attribute5}+' '"></h>
                <h th:if="${product.name}!=null" th:text="${product.name}+' '"></h>
            </td>
            <td th:text="${#numbers.formatDecimal(item.listPrice,0,2)}"></td>
            <td>
                <a class="Button" th:href="@{'/catalog/addCartToItem?workingItemId='+${item.itemId}}" th:text="'Add to Cart'">Add to Cart</a>
            </td>
        </tr>
    </table>

</div>

<div th:replace="common/buttom">

</div>
</body>
</html>