<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div id="templatemo_bottom_wrapper">
        <div id="templatemo_bottom">
            <c:if test="${sessionScope.account != null && sessionScope.account.bannerOption}">
                <div class="col one_third">
                    <h4><span></span>banner</h4>
                    <div class="bottom_box">
                        <ul class="footer_list">
                            <li>
                                Your favourite animal is: ${sessionScope.account.favouriteCategoryId}
                            </li>
                            <li>
                                Your preferred language is: ${sessionScope.account.languagePreference}
                            </li>
                        </ul>
                    </div>
                </div>
            </c:if>

            <div class="cleaner"></div>
        </div> <!-- END of tempatemo_bottom -->
    </div> <!-- END of tempatemo_bottom_wrapper -->

    <div id="templatemo_footer_wrapper">
        <div id="templatemo_footer">
            Copyright © 2048 <a href="http://www.csu.edu.cn">www.csu.edu.cn</a>
        </div> <!-- END of templatemo_footer_wrapper -->
    </div> <!-- END of templatemo_footer -->

    <div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>

</footer>
</body>
</html>