<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Pet Store</title>
</head>
<body>
<div th:replace="common/top">

</div>

<div class="demo form-bg" id="Catalog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-horizontal" action="/useraccess/login" method="post" id="form1">
                    <span class="heading" th:text="#{signon.tip}">Login</span>

                    <div class="form-group">
                        <input type="text" id="username" name="username" autocomplete="Off" th:placeholder="#{signon.username}" class="form-control">
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password"  th:placeholder="#{signon.password}"/>
                        <i><img class="eyes" id="eyes" src="../images/eye2.png" onclick="change()" width="20" height="20"></i>
                    </div>

                    <div class="form-group">
                        <input id="email" type="email" name="email" class="form-control" lay-verify="required" th:placeholder="#{signon.email}"/>
                    </div>

                    <div class="form-group">
                        <input id="checkCode" type="text" name="checkCode" autocomplete="Off" class="form-control" th:placeholder="#{signon.verifycode}" lay-verify="required"/>
                        <h id="result"></h>
                    </div>
                    <div class="form-group">
                        <button id="sendCheckCode" type="button" class="btn btn-default" th:text="#{signon.getVerify}">get verify</button>
                    </div>
                    <!--验证码脚本-->
                    <script>
                        $("#sendCheckCode").click(function () {
                            var email = $("#email").val();
                            if (email == null || email == ""){
                                alert("请输入邮箱！！！");
                                return;
                            }
                            alert("邮件发送中......");
                            $.ajax({
                                url:"/mail/getCheckCode?email="+email,
                                type:"get",
                                success:function (text) {
                                    if (text != null && text != ""){
                                        alert("已发送");
                                        checkCode = text;
                                        countDown();
                                    } else{
                                        alert("获取失败，请重新获取")
                                    }
                                }
                            });
                        });
                    </script>
                    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                    <div class="form-group">
                        <div class="main-checkbox">
                            <input type="checkbox" value="None" id="checkbox1" name="check"/>
                            <label for="checkbox1"></label>
                        </div>
                        <span class="text" th:text="#{signon.rememberme}">Remember me</span>

                        <button type="submit" id="submit" class="btn btn-default" th:text="#{signon.tip}">Login</button>
                    </div>
                    <script>
                        $("#checkCode").change(function (){
                            var verifyCode = $("#checkCode").val();
                            if (verifyCode != checkCode){
                                $("#result").html("<a>false</a>")
                            }
                            else {
                                $("#result").html("<a>correct</a>")
                            }
                        });
                    </script>
                    <div class="form-group">
                        [[#{signon.signupTip}]]
                        <a href="/useraccess/view_sign_up" th:text="#{signon.signup}">Register Now!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/buttom">

</div>

</body>
</html>