<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>My Pet Store</title>
</head>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div th:replace="common/top">

</div>

<div id="templatemo_main">


    <h2>Shopping Cart</h2>
    <form action="/cart/updateCartQuantities" method="post">
        <table id="table-4">
            <tr>
                <th><b>Item ID</b></th>
                <th><b>Product ID</b></th>
                <th><b>Description</b></th>
                <th><b>In Stock?</b></th>
                <th><b>Quantity</b></th>
                <th><b>List Price</b></th>
                <th><b>Total Cost</b></th>
                <th>&nbsp;</th>
            </tr>
            <tr th:each="cart_item:${cart}"></tr>
            <tr th:if="${#lists.isEmpty(cart)}">
                <td colspan="8"><b>Your cart is empty.</b></td>
            </tr>
            <tr th:each="cart_item:${cart}" th:if="${!#lists.isEmpty(cart)}">
                <td>
                    <a th:href="@{'viewItem?itemId='+${cart_item.item.itemId}}">[[${cart_item.item.itemId}]]</a>
                </td>
                <td th:text="${cart_item.item.productId}" th:if="${cart_item.item.productId}!=null">cart_item.item.product.productId
                </td>
                <td>
                    <h th:if="${cart_item.item.attribute1}!=null" th:text="${cart_item.item.attribute1}+' '"></h>
                    <h th:if="${cart_item.item.attribute2}!=null" th:text="${cart_item.item.attribute2}+' '"></h>
                    <h th:if="${cart_item.item.attribute3}!=null" th:text="${cart_item.item.attribute3}+' '"></h>
                    <h th:if="${cart_item.item.attribute4}!=null" th:text="${cart_item.item.attribute4}+' '"></h>
                    <h th:if="${cart_item.item.attribute5}!=null" th:text="${cart_item.item.attribute5}+' '"></h>
            <!--                   <h th:if="${product.name}!=null" th:text="${product.name}+' '"></h>-->
                </td>
                <td id="inStock" th:text="${cart_item.inStock}">
                    cartItem.inStock
                </td>
                <td>
                    <input type="text" th:name="${cart_item.item.itemId}" th:value="${cart_item.quantity}" th:id="${cart_item.item.itemId}"
                           th:onblur="'updateQuantity([[${cart_item.item.itemId}]],[[${loginUser.username}]])'"
                           oninput="aaatest(this)"/>
                    <script type="text/javascript" src="js/update-quantity.js"></script>
                </td>
                            <td id="listPrice" th:text="${#numbers.formatDecimal(cart_item.item.listPrice,0,2)}"></td>
                            <td id="totalcost" th:text="${#numbers.formatDecimal(cart_item.total,0,2)}"></td>
                <td>
                                <a th:href="'/cart/remove_item_from_cart?cartItemId='+${cart_item.item.itemId}" class="Button" th:text="'Remove'">Remove</a>
                </td>

            </tr>
            <tr>
<!--                <td colspan="7" th:text="'Sub Total: '+${#numbers.formatDecimal(cart.subTotal,0,2)}"></td>-->
                <td>&nbsp;</td>
            </tr>
        </table>
    </form>
<!--    <p th:if="${cart.numberOfItems}>!=0">-->
    <div>
        <font size="3px"><a href="/order/commit_new_order" class="fa fa-shopping-cart">&nbsp&nbspProceed to Checkout</a></font>
    </div>
    </p>


    <div id="Separator">&nbsp;</div>
</div>
<script>
    function aaatest(label) {
        var itemId = label.name
        var quantity = label.value
        var id = label.id
        var inStock = document.getElementById('inStock')
        
        axios.post('/cart/update_cart?itemId='+itemId+'&quantity='+quantity).then(
             function (response) {
                 if(response.data != ""){
                     alert(response.data);
                     inStock.innerText="false"
                 }
                 else {
                     inStock.innerText="true"
                 }
                 // var input = document.getElementById(id)
                 // input.value = q
                 console.log(label.value)
             }
        );
    }
</script>

<div th:replace="common/buttom">

</div>
</body>
</html>
