<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<div th:replace="common/manage_top">

</div>

<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <button class="au-btn au-btn-icon au-btn--blue">
                                <i class="zmdi zmdi-plus"></i>add account</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Accounts</h2>
                        <div class="table--no-card m-b-20">
                            <table class="table table-borderless table-striped table-earning" id="account_table">
                                <thead>
                                <tr>
                                    <th class="text-right" id="edit_head" style="visibility: hidden">del</th>
                                    <th>username</th>
                                    <th>email</th>
                                    <th>first name</th>
                                    <th>last name</th>
                                    <th class="text-right">city</th>
                                    <th class="text-right">country</th>
                                    <th class="text-right">phone</th>
                                    <th class="text-right">details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account:${accountList}" th:if="${accountList!=null && accountList.size() >0}" id="${account.username}">
                                    <td class="text-right" th:name="edit_body" style="visibility: hidden">
                                        <input type="checkbox" name="listOption" th:id="${account.username}" onclick="selectDelete(event)"/>
                                    </td>
                                    <td class="text-left" th:text="${account.username}">{{account.username}}</td>
                                    <td class="text-left" th:text="${account.email}">{{account.email}}</td>
                                    <td class="text-left" th:text="${account.firstName}">{{account.firstName}}</td>
                                    <td class="text-left" th:text="${account.lastName}">{{account.lastName}}</td>
                                    <td class="text-right" th:text="${account.city}">{{account.city}}</td>
                                    <td class="text-right" th:text="${account.country}">{{account.country}}</td>
                                    <td class="text-right" th:text="${account.phone}">{{account.phone}}</td>
                                    <td class="text-right" ><a href="#" th:id="${account.getUsername()}" onclick="dianwo(event)">...</a></td>
                                </tr>
                                <tr th:if="${accountList==null || accountList.size() <= 0}"> 你的网站似乎没有用户... </tr>
                                </tbody>
                            </table>
                        </div>

                        <button id="delete_button" onclick="deleteAccount()" class="au-btn au-btn-icon au-btn--blue"></button>

                        <button id="control_button" onclick="control()" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-edit"></i>edit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--弹窗代码-->
<div class="popWin-bg" id='popWin'>
    <div class="popWin-container">
        <div class="popWin-header">
            <!--标题-->
            <span>User Info</span>
            <button id="popWin-header-right" onclick="hidder()">x</button>
        </div>
        <!--正文-->
        <div class="popWin-main">
            <label >User ID: &nbsp;</label>
            <input type="text" name="edit_username" id="edit_username" th:id="edit_username" th:value="00" onblur="usernameIsExist();"/>
            <label id="usernameMsg"></label>



            <div class="cleaner h10"></div>
            <div id="changePasswordButton"><label>password: &nbsp;</label><a href="#" onclick="changePassword()">change password</a></div>
            <div id="changePassword">

            </div>

            <h3>Account Information</h3>


            <label for="edit_firstName">First name: &nbsp;<input type="text" name="firstName" class="required input_field" id="edit_firstName"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_lastName">Last name: &nbsp;<input type="text" name="lastName" class="required input_field" id="edit_lastName"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_email">Email: &nbsp;<input type="text" size="40" name="email" class="required input_field" id="edit_email"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_phone">Phone: &nbsp;<input type="text" name="phone" class="required input_field" id="edit_phone"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_address1">Address 1: &nbsp;<input type="text" size="40" name="address1" class="required input_field" id="edit_address1"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_address2">Address 2: &nbsp;<input type="text" size="40" name="address2" class="required input_field" id="edit_address2"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_city">City: &nbsp;<input type="text" name="city" class="required input_field" id="edit_city"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_state">State: &nbsp;<input type="text" size="4" name="state" class="required input_field" id="edit_state"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_zip">Zip: &nbsp;<input type="text" size="10" name="zip" class="required input_field" id="edit_zip"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_country">Country: &nbsp;<input type="text" size="15" name="country" class="required input_field" id="edit_country"/></label>
            <div class="cleaner h10"></div>

            <h3>Profile Information</h3>
            <script type="text/javascript" src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
            <script type="text/javascript" src="js/optionChecked.js"></script>


            <label>Language Preference: &nbsp;
                <!--            <select name="languagePreference" id="languagePreference" th:each="languages:${session.languages}">-->
                <!--            <option th:text="${languages}">languages</option>-->
                <select name="languagePreference" id="languagePreference">
                    <option>English</option>
                </select>
            </label>

            <div class="cleaner h10"></div>
            <label>Favourite Category: &nbsp;
                <!--            <select name="favouriteCategoryId" id="favouriteCategoryId" th:each="categories:${session.categories}">-->
                <!--                <option th:each="${categories}">categories</option>-->
                <select name="favouriteCategoryId" id="favouriteCategoryId">
                    <option >NOBANNER</option>
                </select>
            </label>
            <div class="cleaner h10"></div>

            <label>Enable MyList &nbsp;<input type="checkbox" id="listOption" name="listOption" th:value="listOption" onclick="listChecked()"/></label>
            <div class="cleaner h10"></div>

            <label>Enable MyBanner &nbsp;<input type="checkbox" id="bannerOption" name="bannerOption" th:value="bannerOption" onclick="bannerChecked()"/></label>

        </div>

    <div class="popWin-footer">
        <button onclick="hidder()"><i class="fa fa-ban"></i>&nbsp;cancel</button>
        <!--提交按钮-->
        <button onclick="confirm()"><i class="fa fa-check"></i>&nbsp;confirm</button>

    </div>
    </div>
</div>

<script type="text/javascript">
    var isEdit = false
    var deleteAccountList = []
    document.getElementById('popWin').style.display="none";
    var listOption = false;
    var bannerOption = false;
    var passwordUpdate = false;

    function control() {
        var controlButton = document.getElementById("control_button")
        var deleteButton = document.getElementById("delete_button")
        var editHead = document.getElementById("edit_head")
        var editBodys = document.getElementsByName("edit_body")
        if (isEdit){
            editHead.style.visibility = "hidden"
            for (var i = 0; i < editBodys.length; i++){
                editBodys.item(i).style.visibility = "hidden"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-edit"></i>edit'
            deleteButton.innerHTML = ''
        }else {
            editHead.style.visibility = "visible"
            for (var ii = 0; ii < editBodys.length; ii++){
                editBodys.item(ii).style.visibility = "visible"
            }
            // editBody.item(0).style.visibility = "visible"
            controlButton.innerHTML = '<i class="zmdi zmdi-check"></i>complete'
            deleteButton.innerHTML = '<i class="zmdi zmdi-delete"></i>delete'
        }
        isEdit = !isEdit
    }
    function deleteAccount() {
        //alert(deleteAccountList)
        if (deleteAccountList.length>0){
            var usernameList = deleteAccountList[0]
            for(var i=1;i<deleteAccountList.length;i++){
                usernameList = usernameList + "," + deleteAccountList[i]
            }
            var table = document.getElementById("account_table");
            var row;
            for(var i=0;i<deleteAccountList.length;i++){
                row = document.getElementById(deleteAccountList[i]);
                row.parentNode.parentNode.parentNode.removeChild(row.parentNode.parentNode);
            }
            $.ajax({
                url:"/management/removeAccount?usernameList="+usernameList,
                type:"get"
            });
        }
    }
    function selectDelete (e) { // 选中Account加入List
        var username = e.currentTarget.id
        if (e.target.checked) {
            deleteAccountList.push(username)
        } else {
            for (var i = 0; i < deleteAccountList.length; i++) {
                if (deleteAccountList[i] === username) {
                    deleteAccountList.splice(i, 1)
                }
            }
        }
        console.log('当前选中:' + deleteAccountList)
    } // 选中的账户加入list

    function dianwo(e){
        document.getElementById('popWin').style.display="";
        var username = e.currentTarget.id;
        $.ajax({
            url:"/management/getAccount?username="+username,
            type:"get",
            success:function (text) {
                var message= JSON.stringify(text);
                var info = message.split('#');
                var username = info[0].substr(1,info[0].length-1);

                var edit_username = document.getElementById("edit_username");
                edit_username.value = username;
                var edit_firstName = document.getElementById("edit_firstName");
                edit_firstName.value = info[1];
                var edit_lastName = document.getElementById("edit_lastName");
                edit_lastName.value = info[2];
                var edit_email = document.getElementById("edit_email");
                edit_email.value = info[3];
                var edit_phone = document.getElementById("edit_phone");
                edit_phone.value = info[4];
                var edit_address1 = document.getElementById("edit_address1");
                edit_address1.value = info[5];
                var edit_address2 = document.getElementById("edit_address2");
                edit_address2.value = info[6];
                var edit_city = document.getElementById("edit_city");
                edit_city.value = info[7];
                var edit_state = document.getElementById("edit_state");
                edit_state.value = info[8];
                var edit_zip = document.getElementById("edit_zip");
                edit_zip.value = info[9];
                var edit_country = document.getElementById("edit_country");
                var country = info[10].substr(0,info[10].length-1);
                edit_country.value = country;
            }
        })
    }
    function hidder(){
        document.getElementById('popWin').style.display="none";
    }

    function confirm(){
        var edit_username = document.getElementById("edit_username");
        var edit_firstName = document.getElementById("edit_firstName");
        var edit_lastName = document.getElementById("edit_lastName");
        var edit_email = document.getElementById("edit_email");
        var edit_phone = document.getElementById("edit_phone");
        var edit_address1 = document.getElementById("edit_address1");
        var edit_address2 = document.getElementById("edit_address2");
        var edit_city = document.getElementById("edit_city");
        var edit_state = document.getElementById("edit_state");
        var edit_zip = document.getElementById("edit_zip");
        var edit_country = document.getElementById("edit_country");

        var username = edit_username.value;
        var firstName = edit_firstName.value;
        var lastName = edit_lastName.value;
        var email = edit_email.value;
        var phone = edit_phone.value;
        var address1 = edit_address1.value;
        var address2 = edit_address2.value;
        var city = edit_city.value;
        var state = edit_state.value;
        var zip = edit_zip.value;
        var country = edit_country.value;

        var accountInfo = username;
        accountInfo = accountInfo + ',' + firstName;
        accountInfo = accountInfo + ',' + lastName;
        accountInfo = accountInfo + ',' + email;
        accountInfo = accountInfo + ',' + phone;
        accountInfo = accountInfo + ',' + address1;
        accountInfo = accountInfo + ',' + address2;
        accountInfo = accountInfo + ',' + city;
        accountInfo = accountInfo + ',' + state;
        accountInfo = accountInfo + ',' + zip;
        accountInfo = accountInfo + ',' + country;

        var language = document.getElementById("languagePreference");
        var index1 = language.selectedIndex;
        var languagePreference = language.options[index1].value;

        var favorite = document.getElementById("favouriteCategoryId");
        var index2 = favorite.selectedIndex;
        var favoriteCategory = favorite.options[index2].value;

        accountInfo = accountInfo + ',' + languagePreference;
        accountInfo = accountInfo + ',' + favoriteCategory;

        if(listOption){
            accountInfo = accountInfo + ',' + "true";
        }
        else{
            accountInfo = accountInfo + ',' + "false";
        }

        if(bannerOption){
            accountInfo = accountInfo + ',' + "true";
        }
        else{
            accountInfo = accountInfo + ',' + "false";
        }

        if(passwordUpdate){
            var password = document.getElementById("password").value;
            accountInfo = accountInfo + ',' + password;
        }
        alert(accountInfo);

        $.ajax({
            url:"/management/updateAccount?accountInfo="+accountInfo,
            type:"get"
        });
    }

    function listChecked(){
        listOption = !listOption;
    }

    function bannerChecked(){
        bannerOption = !bannerOption;
    }
</script>

<div th:replace="common/manage_bottom">

</div>
</body>
</html>