<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<div th:replace="common/manage_top">

</div>

<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <button class="au-btn au-btn-icon au-btn--blue">
                                <i class="zmdi zmdi-plus"></i>add account</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Accounts</h2>
                        <div class="table--no-card m-b-20">
                            <table class="table table-borderless table-striped table-earning" id="account_table">
                                <thead>
                                <tr>
                                    <th class="text-right" id="edit_head" style="visibility: hidden">del</th>
                                    <th>username</th>
                                    <th>email</th>
                                    <th>first name</th>
                                    <th>last name</th>
                                    <th class="text-right">city</th>
                                    <th class="text-right">country</th>
                                    <th class="text-right">phone</th>
                                    <th class="text-right">details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account:${accountList}" th:if="${accountList!=null && accountList.size() >0}">
                                    <td class="text-right" th:name="edit_body" style="visibility: hidden">
                                        <input type="checkbox" name="listOption" th:id="${account.username}" onclick="selectDelete(event)"/>
                                    </td>
                                    <td class="text-left" th:text="${account.username}">{{account.username}}</td>
                                    <td class="text-left" th:text="${account.email}">{{account.email}}</td>
                                    <td class="text-left" th:text="${account.firstName}">{{account.firstName}}</td>
                                    <td class="text-left" th:text="${account.lastName}">{{account.lastName}}</td>
                                    <td class="text-right" th:text="${account.city}">{{account.city}}</td>
                                    <td class="text-right" th:text="${account.country}">{{account.country}}</td>
                                    <td class="text-right" th:text="${account.phone}">{{account.phone}}</td>
                                    <td class="text-right" ><a th:id="account.username" >...</a></td>
                                </tr>
                                <tr th:if="${accountList==null || accountList.size() <= 0}"> 你的网站似乎没有用户... </tr>
                                </tbody>
                            </table>
                        </div>

                        <button id="delete_button" onclick="deleteAccount()" class="au-btn au-btn-icon au-btn--blue"></button>

                        <button id="control_button" onclick="control()" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-edit"></i>edit</button>

                        <!--弹窗-->
                        <!--<popupwin :show="show" :title="titlewin" @hideModal="hideModal" @submit="submit">-->
                            <!--<label for="firstName">First name: &nbsp;-->
                                <!--<input type="text" size="40" name="firstName" v-model="editForm.firstName" class="required input_field" id="firstName" /></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="lastName">Last name: &nbsp;-->
                                <!--<input type="text" size="40" name="lastName" v-model="editForm.lastName" class="required input_field" id="lastName"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="email">Email: &nbsp;-->
                                <!--<input type="text" size="40" name="email" v-model="editForm.email" class="required input_field" id="email"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="phone">Phone: &nbsp;-->
                                <!--<input type="text" size="40" name="phone" v-model="editForm.phone" class="required input_field" id="phone"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="address1">Address 1: &nbsp;-->
                                <!--<input type="text" size="40" name="address1" v-model="editForm.address1" class="required input_field" id="address1"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="address2">Address 2: &nbsp;-->
                                <!--<input type="text" size="40" name="address2" v-model="editForm.address2" class="required input_field" id="address2"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="city">City: &nbsp;-->
                                <!--<input type="text" size="40" name="city" v-model="editForm.city" class="required input_field" id="city"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="state">State: &nbsp;-->
                                <!--<input type="text" size="40"  name="state" v-model="editForm.state" class="required input_field" id="state"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="zip">Zip: &nbsp;-->
                                <!--<input type="text" size="40"  name="zip" v-model="editForm.zip" class="required input_field" id="zip"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label for="country">Country: &nbsp;-->
                                <!--<input type="text" size="40"  name="country" v-model="editForm.country" class="required input_field" id="country"/></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<hr>-->
                            <!--<h4>Profile Information</h4><br>-->
                            <!--<label>Language Preference: &nbsp;-->
                                <!--<select name="languagePreference" id="languagePreference" v-model="editForm.languagePreference">-->
                                    <!--<option>English</option>-->
                                <!--</select>-->
                            <!--</label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label>Favourite Category: &nbsp;-->
                                <!--<select name="favouriteCategoryId" id="favouriteCategoryId" v-model="editForm.favouriteCategoryId">-->
                                    <!--<option >NOBANNER</option>-->
                                <!--</select>-->
                            <!--</label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label>Enable MyList &nbsp;<input type="checkbox" id="listOption" v-model="editForm.listOption" name="listOption" /></label>-->
                            <!--<div class="cleaner h10"></div>-->
                            <!--<label>Enable MyBanner &nbsp;<input type="checkbox" id="bannerOption" v-model="editForm.bannerOption" name="bannerOption" /></label>-->
                        <!--</popupwin>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var isEdit = false
    var deleteAccountList = []
    function control() {
        var controlButton = document.getElementById("control_button")
        var deleteButton = document.getElementById("delete_button")
        var editHead = document.getElementById("edit_head")
        var editBodys = document.getElementsByName("edit_body")
        if (isEdit){
            editHead.style.visibility = "hidden"
            for (var i = 0; i < editBodys.length; i++){
                editBodys.item(i).style.visibility = "hidden"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-edit"></i>edit'
            deleteButton.innerHTML = ''
        }else {
            editHead.style.visibility = "visible"
            for (var ii = 0; ii < editBodys.length; ii++){
                editBodys.item(ii).style.visibility = "visible"
            }
            // editBody.item(0).style.visibility = "visible"
            controlButton.innerHTML = '<i class="zmdi zmdi-check"></i>complete'
            deleteButton.innerHTML = '<i class="zmdi zmdi-delete"></i>delete'
        }
        isEdit = !isEdit
    }
    function deleteAccount() {
        alert(deleteAccountList)
    }
    function selectDelete (e) { // 选中Account加入List
        var username = e.currentTarget.id
        if (e.target.checked) {
            deleteAccountList.push(username)
        } else {
            for (var i = 0; i < deleteAccountList.length; i++) {
                if (deleteAccountList[i] === username) {
                    deleteAccountList.splice(i, 1)
                }
            }
        }
        console.log('当前选中:' + deleteAccountList)
    } // 选中的账户加入list
</script>

<div th:replace="common/manage_bottom">

</div>
</body>
</html>