<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<div th:replace="common/manage_top">

</div>

<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <button class="au-btn au-btn-icon au-btn--blue">
                                <i class="zmdi zmdi-plus"></i>add account</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Accounts</h2>
                        <div class="table--no-card m-b-20">
                            <table class="table table-borderless table-striped table-earning" id="account_table">
                                <thead>
                                <tr>
                                    <th class="text-right" id="edit_head" style="visibility: hidden">del</th>
                                    <th>username</th>
                                    <th>email</th>
                                    <th>first name</th>
                                    <th>last name</th>
                                    <th class="text-right">city</th>
                                    <th class="text-right">country</th>
                                    <th class="text-right">phone</th>
                                    <th class="text-right">details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account:${accountList}" th:if="${accountList!=null && accountList.size() >0}" id="${account.username}">
                                    <td class="text-right" th:name="edit_body" style="visibility: hidden">
                                        <input type="checkbox" name="listOption" th:id="${account.username}" onclick="selectDelete(event)"/>
                                    </td>
                                    <td class="text-left" th:text="${account.username}">{{account.username}}</td>
                                    <td class="text-left" th:text="${account.email}">{{account.email}}</td>
                                    <td class="text-left" th:text="${account.firstName}">{{account.firstName}}</td>
                                    <td class="text-left" th:text="${account.lastName}">{{account.lastName}}</td>
                                    <td class="text-right" th:text="${account.city}">{{account.city}}</td>
                                    <td class="text-right" th:text="${account.country}">{{account.country}}</td>
                                    <td class="text-right" th:text="${account.phone}">{{account.phone}}</td>
                                    <td class="text-right" ><a href="#" th:id="${account.username}" onclick="dianwo()">...</a></td>
                                </tr>
                                <tr th:if="${accountList==null || accountList.size() <= 0}"> 你的网站似乎没有用户... </tr>
                                </tbody>
                            </table>
                        </div>

                        <button id="delete_button" onclick="deleteAccount()" class="au-btn au-btn-icon au-btn--blue"></button>

                        <button id="control_button" onclick="control()" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-edit"></i>edit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--弹窗代码-->
<div class="popWin-bg" id='popWin'>
    <div class="popWin-container">
        <div class="popWin-header">
            <!--标题-->
            <span>User Info</span>
            <button id="popWin-header-right" onclick="hidder()">x</button>
        </div>
        <!--正文-->
        <div class="popWin-main">
            <h6>此处添加用户信息表单，注意传入值，例子如下</h6>
            <!--例子-->
            <h3>User Information</h3>
            <label >User ID: &nbsp;</label>
            <input type="text" name="username" id="username" th:value="Lee" onblur="usernameIsExist();"/>
            <label id="usernameMsg"></label>
            <div class="cleaner h10"></div>
            <div id="changePasswordButton"><label>password: &nbsp;</label><a href="#" onclick="changePassword()">change password</a></div>
            <div id="changePassword">

            </div>
        </div>
    <div class="popWin-footer">
        <button onclick="hidder()"><i class="fa fa-ban"></i>&nbsp;cancel</button>
        <!--提交按钮-->
        <button ><i class="fa fa-check"></i>&nbsp;confirm</button>
    </div>
    </div>
</div>

<script type="text/javascript">
    var isEdit = false
    var deleteAccountList = []
    function control() {
        var controlButton = document.getElementById("control_button")
        var deleteButton = document.getElementById("delete_button")
        var editHead = document.getElementById("edit_head")
        var editBodys = document.getElementsByName("edit_body")
        if (isEdit){
            editHead.style.visibility = "hidden"
            for (var i = 0; i < editBodys.length; i++){
                editBodys.item(i).style.visibility = "hidden"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-edit"></i>edit'
            deleteButton.innerHTML = ''
        }else {
            editHead.style.visibility = "visible"
            for (var ii = 0; ii < editBodys.length; ii++){
                editBodys.item(ii).style.visibility = "visible"
            }
            // editBody.item(0).style.visibility = "visible"
            controlButton.innerHTML = '<i class="zmdi zmdi-check"></i>complete'
            deleteButton.innerHTML = '<i class="zmdi zmdi-delete"></i>delete'
        }
        isEdit = !isEdit
    }
    function deleteAccount() {
        //alert(deleteAccountList)
        if (deleteAccountList.length>0){
            var usernameList = deleteAccountList[0]
            for(var i=1;i<deleteAccountList.length;i++){
                usernameList = usernameList + "," + deleteAccountList[i]
            }
            var table = document.getElementById("account_table");
            var row;
            for(var i=0;i<deleteAccountList.length;i++){
                row = document.getElementById(deleteAccountList[i]);
                row.parentNode.parentNode.parentNode.removeChild(row.parentNode.parentNode);
            }
            $.ajax({
                url:"/management/removeAccount?usernameList="+usernameList,
                type:"get"
            });
        }
    }
    function selectDelete (e) { // 选中Account加入List
        var username = e.currentTarget.id
        if (e.target.checked) {
            deleteAccountList.push(username)
        } else {
            for (var i = 0; i < deleteAccountList.length; i++) {
                if (deleteAccountList[i] === username) {
                    deleteAccountList.splice(i, 1)
                }
            }
        }
        console.log('当前选中:' + deleteAccountList)
    } // 选中的账户加入list

    function openWin(){
        window.open ("/help.html", "newwindow", "height=100, width=400, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
    }
</script>

<div th:replace="common/manage_bottom">

</div>
</body>
</html>