<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<div th:replace="common/manage_top">

</div>

<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <button class="au-btn au-btn-icon au-btn--blue" onclick="addItem()">
                                <i class="zmdi zmdi-plus"></i>add to item</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Item</h2>
                        <div class="table--no-card m-b-20">
                            <table class="table table-borderless table-striped table-earning" id="item_table">
                                <thead>
                                <tr>
                                    <th>Item ID</th>
                                    <th>Product ID</th>
                                    <th>Attribute</th>
                                    <th>List Price</th>
                                    <th class="text-right">details</th>
                                    <th class="text-right" id="edit_head" style="visibility: hidden">del</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${itemList}" th:if="${itemList!=null && itemList.size() >0}">
                                    <td class="text-left" th:text="${item.getItemId()}">{{item.getItemId()}}</td>
                                    <td class="text-left" th:text="${item.getProduct().getProductId()}">{{item.getProductId()}}</td>
                                    <td class="text-left" th:text="${item.getAttribute1()}">{{item.getAttribute1()}}</td>
                                    <td class="text-left" th:text="${item.getListPrice()}">{{item.getListPrice()}}</td>
                                    <td class="text-right" ><a href="#" th:id="${item.getItemId()}" onclick="dianwo(event)">...</a></td>
                                    <td class="text-right" th:name="edit_body" style="visibility: hidden">
                                        <input type="checkbox" name="listOption" th:id="${item.getItemId()}" onclick="selectDelete(event)"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button id="delete_button" onclick="deleteItem()" class="au-btn au-btn-icon au-btn--blue"></button>

                        <button id="control_button" onclick="control()" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-edit"></i>edit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="popWin-bg" id='popWin'>
    <div class="popWin-container">
        <div class="popWin-header">
            <!--标题-->
            <span>Item Info</span>
            <button id="popWin-header-right" onclick="hidder()">x</button>
        </div>
        <!--正文-->
        <div class="popWin-main">
            <label >Item ID: &nbsp;</label>
            <input type="text" name="edit_itemId" id="edit_itemId"/>
            <div class="cleaner h10"></div>

            <label for="edit_productId">Product ID: &nbsp;
                <select id="edit_productId">
                    <option th:each="product:${productList}" th:text="${product.getProductId()}" th:id="${product.getProductId()}">productId</option>
                </select>
            </label>
            <div class="cleaner h10"></div>

            <label for="edit_quantity">Quantity: &nbsp;<input type="text" name="edit_quantity" class="required input_field" id="edit_quantity"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_listPrice">List Price: &nbsp;<input type="text" name="edit_listPrice" class="required input_field" id="edit_listPrice"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_unitCost">Unit Cost: &nbsp;<input type="text" name="edit_unitCost" class="required input_field" id="edit_unitCost"/></label>
            <div class="cleaner h10"></div>
            
            <label for="edit_supplier">Supplier ID: <input type="text" name="edit_supplier" class="required input_field" id="edit_supplier"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_status">Status:
                <select id="edit_status">
                    <option id="onSale">on sale</option>
                    <option id="offSale">off sale</option>
                </select>
            </label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute1">Attribute1: <input type="text" name="edit_attribute1" class="required input_field" id="edit_attribute1"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute2">Attribute2: <input type="text" name="edit_attribute2" class="required input_field" id="edit_attribute2"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute3">Attribute3: <input type="text" name="edit_attribute3" class="required input_field" id="edit_attribute3"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute4">Attribute4: <input type="text" name="edit_attribute4" class="required input_field" id="edit_attribute4"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute5">Attribute5: <input type="text" name="edit_attribute5" class="required input_field" id="edit_attribute5"/></label>
            <div class="cleaner h10"></div>

            <div class="popWin-footer">
                <!--提交按钮-->
                <button onclick="confirm()"><i class="fa fa-check"></i>&nbsp;confirm</button>
                <button onclick="hidder()"><i class="fa fa-ban"></i>&nbsp;cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var isEdit = false
    var deleteItemList = []
    var currentId = null;
    document.getElementById('popWin').style.display="none";

    function control() {
        var controlButton = document.getElementById("control_button")
        var deleteButton = document.getElementById("delete_button")
        var editHead = document.getElementById("edit_head")
        var editBodys = document.getElementsByName("edit_body")
        if (isEdit){
            editHead.style.visibility = "hidden"
            for (var i = 0; i < editBodys.length; i++){
                editBodys.item(i).style.visibility = "hidden"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-edit"></i>edit'
            deleteButton.innerHTML = ''
        }else {
            editHead.style.visibility = "visible"
            for (var ii = 0; ii < editBodys.length; ii++){
                editBodys.item(ii).style.visibility = "visible"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-check"></i>complete'
            deleteButton.innerHTML = '<i class="zmdi zmdi-delete"></i>delete'
        }
        isEdit = !isEdit
    }

    function selectDelete (e) {
        var itemId = e.currentTarget.id
        if (e.target.checked) {
            deleteItemList.push(itemId)
        } else {
            for (var i = 0; i < deleteItemList.length; i++) {
                if (deleteItemList[i] === itemId) {
                    deleteItemList.splice(i, 1)
                }
            }
        }
        console.log('当前选中:' + deleteItemList)
    }

    function deleteItem() {
        alert(deleteItemList);
        if (deleteItemList.length>0){
            var itemList = deleteItemList[0]
            for(var i=1;i<deleteItemList.length;i++){
                itemList = itemList + "," + deleteItemList[i]
            }
            var row;
            for(var i=0;i<deleteItemList.length;i++){
                row = document.getElementById(deleteItemList[i]);
                row.parentNode.parentNode.parentNode.removeChild(row.parentNode.parentNode);
            }
            $.ajax({
                url:"/management/removeItem?itemList="+itemList,
                type:"get"
            });
        }
        alert("delete success！");
    }

    function hidder(){
        document.getElementById('popWin').style.display="none";
        currentId = null;
    }

    function dianwo(e){
        document.getElementById('popWin').style.display="";
        currentId = e.currentTarget.id;
        var itemId = e.currentTarget.id;
        $.ajax({
            url:"/management/getItem?itemId="+itemId,
            type:"get",
            success:function (text) {
                var message= JSON.stringify(text);
                var info = message.split('#');
                var getItemId = info[0].substr(1,info[0].length-1);

                var edit_itemId = document.getElementById("edit_itemId");
                var edit_productId = document.getElementById(info[1]);
                var edit_quantity = document.getElementById("edit_quantity");
                var edit_listPrice = document.getElementById("edit_listPrice");
                var edit_unitCost = document.getElementById("edit_unitCost");
                var edit_supplier = document.getElementById("edit_supplier");
                var edit_attribute1 = document.getElementById("edit_attribute1");
                var edit_attribute2 = document.getElementById("edit_attribute2");
                var edit_attribute3 = document.getElementById("edit_attribute3");
                var edit_attribute4 = document.getElementById("edit_attribute4");
                var edit_attribute5 = document.getElementById("edit_attribute5");

                edit_itemId.value = getItemId;
                edit_productId.selected = true;
                edit_quantity.value = info[2];
                edit_listPrice.value = info[3];
                edit_unitCost.value = info[4];
                edit_supplier.value = info[5];
                if(info[6] == "P"){
                    var onSale = document.getElementById("onSale");
                    onSale.selected = true;
                }else{
                    var offSale = document.getElementById("offSale");
                    offSale.selected = true;
                }
                edit_attribute1.value = info[7];
                edit_attribute2.value = info[8];
                edit_attribute3.value = info[9];
                edit_attribute4.value = info[10];
                edit_attribute5.value = info[11].substr(0,info[11].length-2);
            }
        })
    }

    function confirm(){
        var edit_itemId = document.getElementById("edit_itemId");
        var edit_productId = document.getElementById("edit_productId");
        var edit_quantity = document.getElementById("edit_quantity");
        var edit_listPrice = document.getElementById("edit_listPrice");
        var edit_unitCost = document.getElementById("edit_unitCost");
        var edit_supplier = document.getElementById("edit_supplier");
        var edit_status = document.getElementById("edit_status");
        var edit_attribute1 = document.getElementById("edit_attribute1");
        var edit_attribute2 = document.getElementById("edit_attribute2");
        var edit_attribute3 = document.getElementById("edit_attribute3");
        var edit_attribute4 = document.getElementById("edit_attribute4");
        var edit_attribute5 = document.getElementById("edit_attribute5");

        var itemId = edit_itemId.value;
        var productId = edit_productId.options[edit_productId.selectedIndex].text;
        var quantity = edit_quantity.value;
        var listPrice = edit_listPrice.value;
        var unitCost = edit_unitCost.value;
        var supplier = edit_supplier.value;
        var isSale = edit_status.options[edit_status.selectedIndex].text;
        var status;
        if(isSale == "onSale"){
            status = "P";
        }else{
            status = "S";
        }
        var attribute1 = edit_attribute1.value;
        var attribute2 = edit_attribute2.value;
        var attribute3 = edit_attribute3.value;
        var attribute4 = edit_attribute4.value;
        var attribute5 = edit_attribute5.value;

        var info = itemId;
        info = info + "," + productId;
        info = info + "," + quantity;
        info = info + "," + listPrice;
        info = info + "," + unitCost;
        info = info + "," + supplier;
        info = info + "," + status;
        info = info + "," + attribute1;
        info = info + "," + attribute2;
        info = info + "," + attribute3;
        info = info + "," + attribute4;
        info = info + "," + attribute5;

        if(currentId != null){
            info = info + "," + currentId;
            alert("change success！");
        }else{
            alert("insert success！");
        }
        alert(info);
        $.ajax({
            url:"/management/updateItem?itemInfo="+info,
            type:"get"
        });
    }

    function addItem(){
        document.getElementById('popWin').style.display="";
        var edit_itemId = document.getElementById("edit_itemId");
        var edit_quantity = document.getElementById("edit_quantity");
        var edit_listPrice = document.getElementById("edit_listPrice");
        var edit_unitCost = document.getElementById("edit_unitCost");
        var edit_supplier = document.getElementById("edit_supplier");
        //var edit_status = document.getElementById("edit_status");
        var edit_attribute1 = document.getElementById("edit_attribute1");
        var edit_attribute2 = document.getElementById("edit_attribute2");
        var edit_attribute3 = document.getElementById("edit_attribute3");
        var edit_attribute4 = document.getElementById("edit_attribute4");
        var edit_attribute5 = document.getElementById("edit_attribute5");

        edit_itemId.value = "";
        edit_quantity.value = "";
        edit_listPrice.value = "";
        edit_unitCost.value = "";
        edit_supplier.value = "";
        edit_supplier.value = "";
        //edit_status.value = "";
        edit_attribute1.value = "";
        edit_attribute2.value = "";
        edit_attribute3.value = "";
        edit_attribute4.value = "";
        edit_attribute5.value = "";
    }


</script>

<div th:replace="common/manage_bottom">

</div>
</body>
</html>