<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<div th:replace="common/manage_top">

</div>

<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <button class="au-btn au-btn-icon au-btn--blue" onclick="addItem()">
                                <i class="zmdi zmdi-plus"></i>add to item</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Product</h2>
                        <div class="table--no-card m-b-20">
                            <table class="table table-borderless table-striped table-earning" id="item_table">
                                <thead>
                                <tr>
                                    <th>Item ID</th>
                                    <th>Product ID</th>
                                    <th>Attribute</th>
                                    <th>List Price</th>
                                    <th class="text-right">details</th>
                                    <th class="text-right" id="edit_head" style="visibility: hidden">del</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${itemList}" th:if="${itemList!=null && itemList.size() >0}">
                                    <td class="text-left" th:text="${item.getItemId()}">{{item.getItemId()}}</td>
                                    <td class="text-left" th:text="${item.getProduct().getProductId()}">{{item.getProductId()}}</td>
                                    <td class="text-left" th:text="${item.getAttribute1()}">{{item.getAttribute1()}}</td>
                                    <td class="text-left" th:text="${item.getListPrice()}">{{item.getListPrice()}}</td>
                                    <td class="text-right" ><a href="#" th:id="${item.getItemId()}" onclick="dianwo(event)">...</a></td>
                                    <td class="text-right" th:name="edit_body" style="visibility: hidden">
                                        <input type="checkbox" name="listOption" th:id="${item.getItemId()}" onclick="selectDelete(event)"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button id="delete_button" onclick="deleteItem()" class="au-btn au-btn-icon au-btn--blue"></button>

                        <button id="control_button" onclick="control()" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-edit"></i>edit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="popWin-bg" id='popWin'>
    <div class="popWin-container">
        <div class="popWin-header">
            <!--标题-->
            <span>Item Info</span>
            <button id="popWin-header-right" onclick="hidder()">x</button>
        </div>
        <!--正文-->
        <div class="popWin-main">
            <label >Item ID: &nbsp;</label>
            <input type="text" name="edit_itemId" id="edit_itemId"/>
            <div class="cleaner h10"></div>

            <label for="edit_productId">Product ID: &nbsp;
                <select id="edit_productId">
                    <option th:each="product:${productList}" th:text="${product.getProductId()}" th:id="${product.getProductId()}">productId</option>
                </select>
            </label>
            <div class="cleaner h10"></div>

            <label for="edit_listPrice">List Price: &nbsp;<input type="text" name="edit_listPrice" class="required input_field" id="edit_listPrice"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_unitCost">Unit Cost: &nbsp;<input type="text" name="edit_unitCost" class="required input_field" id="edit_unitCost"/></label>
            <div class="cleaner h10"></div>
            
            <label for="edit_supplier">Supplier: <input type="text" name="edit_supplier" class="required input_field" id="edit_supplier"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_status">Status: <input type="text" name="edit_status" class="required input_field" id="edit_status"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute1">Attribute1: <input type="text" name="edit_attribute1" class="required input_field" id="edit_attribute1"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute2">Attribute2: <input type="text" name="edit_attribute2" class="required input_field" id="edit_attribute2"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute3">Attribute3: <input type="text" name="edit_attribute3" class="required input_field" id="edit_attribute3"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute4">Attribute4: <input type="text" name="edit_attribute4" class="required input_field" id="edit_attribute4"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_attribute5">Attribute5: <input type="text" name="edit_attribute5" class="required input_field" id="edit_attribute5"/></label>
            <div class="cleaner h10"></div>

            <div class="popWin-footer">
                <!--提交按钮-->
                <button onclick="confirm()"><i class="fa fa-check"></i>&nbsp;confirm</button>
                <button onclick="hidder()"><i class="fa fa-ban"></i>&nbsp;cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var isEdit = false
    var deleteItemList = []
    var currentId = null;
    document.getElementById('popWin').style.display="none";

    function control() {
        var controlButton = document.getElementById("control_button")
        var deleteButton = document.getElementById("delete_button")
        var editHead = document.getElementById("edit_head")
        var editBodys = document.getElementsByName("edit_body")
        if (isEdit){
            editHead.style.visibility = "hidden"
            for (var i = 0; i < editBodys.length; i++){
                editBodys.item(i).style.visibility = "hidden"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-edit"></i>edit'
            deleteButton.innerHTML = ''
        }else {
            editHead.style.visibility = "visible"
            for (var ii = 0; ii < editBodys.length; ii++){
                editBodys.item(ii).style.visibility = "visible"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-check"></i>complete'
            deleteButton.innerHTML = '<i class="zmdi zmdi-delete"></i>delete'
        }
        isEdit = !isEdit
    }

    function selectDelete (e) {
        var itemId = e.currentTarget.id
        if (e.target.checked) {
            deleteItemList.push(itemId)
        } else {
            for (var i = 0; i < deleteItemList.length; i++) {
                if (deleteItemList[i] === itemId) {
                    deleteItemList.splice(i, 1)
                }
            }
        }
        console.log('当前选中:' + deleteItemList)
    }

    function deleteItem() {
        alert(deleteItemList);
        if (deleteItemList.length>0){
            var itemList = deleteItemList[0]
            for(var i=1;i<deleteItemList.length;i++){
                itemList = itemList + "," + deleteItemList[i]
            }
            var row;
            for(var i=0;i<deleteItemList.length;i++){
                row = document.getElementById(deleteItemList[i]);
                row.parentNode.parentNode.parentNode.removeChild(row.parentNode.parentNode);
            }
            $.ajax({
                url:"/management/removeItem?itemList="+itemList,
                type:"get"
            });
        }
        alert("delete success！");
    }

    function hidder(){
        document.getElementById('popWin').style.display="none";
        currentId = null;
    }

    function dianwo(e){
        document.getElementById('popWin').style.display="";
        currentId = e.currentTarget.id;
        var productId = e.currentTarget.id;
        // $.ajax({
        //     url:"/management/getProduct?productId="+productId,
        //     type:"get",
        //     success:function (text) {
        //         var message= JSON.stringify(text);
        //         var info = message.split('#');
        //         var getProductId = info[0].substr(1,info[0].length-1);
        //         var name = info[1];
        //         var category = info[2].substr(0,info[2].length-1);
        //
        //         var edit_productId = document.getElementById("edit_productId");
        //         var edit_name = document.getElementById("edit_name");
        //         var edit_category = document.getElementById(category);
        //
        //         edit_productId.value = getProductId;
        //         edit_name.value = name;
        //         edit_category.selected = true;
        //     }
        // })
    }

</script>

<div th:replace="common/manage_bottom">

</div>
</body>
</html>