<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<div th:replace="common/manage_top">

</div>

<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <button class="au-btn au-btn-icon au-btn--blue" @click="addProduct">
                                <i class="zmdi zmdi-plus"></i>add to product</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Product</h2>
                        <div class="table--no-card m-b-20">
                            <table class="table table-borderless table-striped table-earning" id="product_table">
                                <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th class="text-right">details</th>
                                    <th class="text-right" id="edit_head" style="visibility: hidden">del</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product:${productList}" th:if="${productList!=null && productList.size() >0}">
                                    <td class="text-left"><a th:href="@{'/management/viewItem?productId='+${product.getProductId()}}" th:text="${product.getProductId()}">{{product.getProductId}}</a></td>
                                    <td class="text-left" th:text="${product.getName()}">{{product.getName()}}</td>
                                    <td class="text-left" th:text="${product.getCategoryId()}">{{product.getCategoryId()}}</td>
                                    <td class="text-right" ><a href="#" th:id="${product.getProductId()}" onclick="dianwo(event)">...</a></td>
                                    <td class="text-right" th:name="edit_body" style="visibility: hidden">
                                        <input type="checkbox" name="listOption" th:id="${product.getProductId()}" onclick="selectDelete(event)"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <button id="delete_button" onclick="deleteProduct()" class="au-btn au-btn-icon au-btn--blue"></button>

                        <button id="control_button" onclick="control()" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-edit"></i>edit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="popWin-bg" id='popWin'>
    <div class="popWin-container">
        <div class="popWin-header">
            <!--标题-->
            <span>Product Info</span>
            <button id="popWin-header-right" onclick="hidder()">x</button>
        </div>
        <!--正文-->
        <div class="popWin-main">
            <label >Product ID: &nbsp;</label>
            <input type="text" name="edit_productId" id="edit_productId"/>
            <div class="cleaner h10"></div>

            <label for="edit_name">Name: &nbsp;<input type="text" name="edit_name" class="required input_field" id="edit_name"/></label>
            <div class="cleaner h10"></div>

            <label for="edit_category">Category: &nbsp;
                <select id="edit_category">
                    <option th:each="category:${categoryList}" th:text="${category.getCategoryId()}" th:id="${category.getCategoryId()}">categoryId</option>
                </select>
            </label>

            <div class="popWin-footer">
                <!--提交按钮-->
                <button onclick="confirm()"><i class="fa fa-check"></i>&nbsp;confirm</button>
                <button onclick="hidder()"><i class="fa fa-ban"></i>&nbsp;cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var isEdit = false
    var deleteProductList = []
    var currentId = null;
    document.getElementById('popWin').style.display="none";

    function control() {
        var controlButton = document.getElementById("control_button")
        var deleteButton = document.getElementById("delete_button")
        var editHead = document.getElementById("edit_head")
        var editBodys = document.getElementsByName("edit_body")
        if (isEdit){
            editHead.style.visibility = "hidden"
            for (var i = 0; i < editBodys.length; i++){
                editBodys.item(i).style.visibility = "hidden"
            }
            controlButton.innerHTML = '<i class="zmdi zmdi-edit"></i>edit'
            deleteButton.innerHTML = ''
        }else {
            editHead.style.visibility = "visible"
            for (var ii = 0; ii < editBodys.length; ii++){
                editBodys.item(ii).style.visibility = "visible"
            }
            // editBody.item(0).style.visibility = "visible"
            controlButton.innerHTML = '<i class="zmdi zmdi-check"></i>complete'
            deleteButton.innerHTML = '<i class="zmdi zmdi-delete"></i>delete'
        }
        isEdit = !isEdit
    }

    function selectDelete (e) { // 选中Account加入List
        var productId = e.currentTarget.id
        if (e.target.checked) {
            deleteProductList.push(productId)
        } else {
            for (var i = 0; i < deleteProductList.length; i++) {
                if (deleteProductList[i] === productId) {
                    deleteProductList.splice(i, 1)
                }
            }
        }
        console.log('当前选中:' + deleteProductList)
    } // 选中的账户加入list

    function deleteProduct() {
        alert(deleteProductList);
        if (deleteProductList.length>0){
            var productList = deleteProductList[0]
            for(var i=1;i<deleteProductList.length;i++){
                productList = productList + "," + deleteProductList[i]
            }
            var row;
            for(var i=0;i<deleteProductList.length;i++){
                row = document.getElementById(deleteProductList[i]);
                row.parentNode.parentNode.parentNode.removeChild(row.parentNode.parentNode);
            }
            $.ajax({
                url:"/management/removeProduct?productList="+productList,
                type:"get"
            });
        }
        alert("delete success！");
    }

    function hidder(){
        document.getElementById('popWin').style.display="none";
        currentId = null;
    }

    function dianwo(e){
        document.getElementById('popWin').style.display="";
        currentId = e.currentTarget.id;
        var productId = e.currentTarget.id;
        $.ajax({
            url:"/management/getProduct?productId="+productId,
            type:"get",
            success:function (text) {
                var message= JSON.stringify(text);
                var info = message.split('#');
                var getProductId = info[0].substr(1,info[0].length-1);
                var name = info[1];
                var category = info[2].substr(0,info[2].length-1);

                var edit_productId = document.getElementById("edit_productId");
                var edit_name = document.getElementById("edit_name");
                var edit_category = document.getElementById(category);

                edit_productId.value = getProductId;
                edit_name.value = name;
                edit_category.selected = true;
            }
        })
    }

</script>

<div th:replace="common/manage_bottom">

</div>
</body>
</html>