.myFont-1{
    color: transparent;
    font-family: "Bodoni MT";
    background-color : gray;
    font-size: 18px;
    /*text-shadow : rgba(	20,220,60,0.5) 0 5px 6px, rgba(220,20,0,0.5) 1px 1px 1px;*/
    -webkit-background-clip : text;
}