<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Pet Store</title>
</head>
<body>
<div th:replace="common/top">

</div>

<div>
    <div id="templatemo_main">

        <h2>My Orders</h2>

        <table id="table-4">
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Price</th>
            </tr>
                <tr th:each="order:${orderList}">
                    <td>
                        <a th:href="@{'/order/view_order?orderId='+${order.orderId}}" th:text="${order.orderId}">order.orderId</a>
                    </td>
                    <td th:text="${order.orderDate}"></td>
                    <!--<td>占位</td>-->
                    <td th:text="${#numbers.formatDecimal(order.totalPrice,0,2)}"></td>
                </tr>
        </table>
    </div>
</div>

<div th:replace="common/buttom">

</div>
</body>
</html>