<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Pet Store</title>
</head>
<body>
<div th:replace="common/top">

</div>

<div>
    <div id="templatemo_main" align="center">
        <form action="/order/confirm_new_order" method="post">

            <table id="table-4">
                <tr>
                    <th colspan=2>Payment Details</th>
                </tr>
                <tr>
                    <td>Card Type:</td>
                    <td><select name="cardType">
                        <option value="Visa" selected="selected">Visa</option>
                        <option value="MasterCard">MasterCard</option>
                        <option value="American Express">American Express</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Card Number:</td>
                    <td>
<!--                        <input type="text" name="creditCard" th:text="${order.creditCard}" /> * Use a fake number!-->
                        <input type="text" name="creditCard" /> * Use a fake number!
                    </td>
                </tr>
                <tr>
                    <td>Expiry Date (MM/YYYY):</td>
                    <td>
<!--                        <input type="text" name="expiryDate" th:text="${order.expiryDate}" />-->
                        <input type="text" name="expiryDate" />
                    </td>
                </tr>
                <tr>
                    <th colspan=2>Billing Address</th>
                </tr>

                <tr>
                    <td>First name:</td>
                    <td><input type="text" name="billToFirstName" th:value="${session.loginUser.firstName}" /></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" name="billToLastName" th:value="${session.loginUser.lastName}" /></td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td><input type="text" size="40" name="billAddress1" th:value="${session.loginUser.address1}" /></td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td><input type="text" size="40" name="billAddress2" th:value="${session.loginUser.address2}" /></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" name="billCity" th:value="${session.loginUser.city}" /></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input type="text" size="4" name="billState" th:value="${session.loginUser.state}" /></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td><input type="text" size="10" name="billZip" th:value="${session.loginUser.zip}" /></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input type="text" size="15" name="billCountry" th:value="${session.loginUser.country}" /></td>
                </tr>

                <tr>
                    <td colspan=2><input type="checkbox" name="shippingAddressRequired" value="shippingAddressRequired" />
                        Ship to different address...</td>
                </tr>

            </table>
            <div class="cleaner h10"></div>
            <div class="admin5"><input type="submit" name="newOrder" value="Continue" class="btn btn-block btn-sm btn-success"></div>


        </form></div>

</div>

<div th:replace="common/buttom">

</div>
</body>
</html>