<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.CategoryMapper">
    <select id="getCategory" parameterType="string" resultType="Category">
        SELECT
        CATID AS categoryId,
        NAME,
        DESCN AS description
        FROM CATEGORY
        WHERE CATID = #{categoryId}
    </select>

    <select id="getCategoryList" resultType="Category">
        SELECT
        CATID AS categoryId,
        NAME,
        DESCN AS description
        FROM CATEGORY
    </select>

    <insert id="insertCategory" parameterType="Category">
        INSERT INTO CATEGORY
            (CATID,NAME,DESCN)
        VALUES
            (#{categoryId},#{name},#{description})
    </insert>

    <insert id="insertBannerData" parameterType="Category">
        INSERT INTO BANNERDATA
            (FAVCATEGORY,BANNERNAME)
        VALUES
            (#{categoryId},#{description})
    </insert>

    <delete id="removeCategory" parameterType="string">
        DELETE FROM CATEGORY
        WHERE CATID = #{categoryId}
    </delete>

    <delete id="removeBannerData" parameterType="string">
        DELETE FROM BANNERDATA
        WHERE FAVCATEGORY = #{categoryId}
    </delete>

    <update id="updateCategory">
        UPDATE CATEGORY SET
            CATID = #{category.categoryId},
            NAME = #{category.name},
            DESCN = #{category.description}
        WHERE CATID = #{oldId}
    </update>

    <update id="updateBannerData">
        UPDATE BANNERDATA SET
            FAVCATEGORY = #{category.categoryId},
            BANNERNAME = #{category.description}
        WHERE FAVCATEGORY = #{oldId}
    </update>
</mapper>