<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>My Pet Store</title>
</head>
<body>
<footer th:fragment="includeAccountFields">
    <div>
        <h3>Account Information</h3>


        <label for="firstName">First name:<br><input type="text" name="account.firstName" th:value="${session.account.firstName}" class="required input_field" id="firstName"/></label>
        <br>

        <label for="lastName">Last name:<br><input type="text" name="account.lastName" th:value="${session.account.lastName}" class="required input_field" id="lastName"/></label>
        <br>

        <label for="email">Email:<br><input type="text" size="40" name="account.email" th:value="${session.account.email}" class="required input_field" id="email"/></label>
        <br>

        <label for="phone">Phone:<br><input type="text" name="account.phone" th:value="${session.account.phone}" class="required input_field" id="phone"/></label>
        <br>

        <label for="address1">Address 1:<br><input type="text" size="40" name="account.address1" th:value="${session.account.address1}" class="required input_field" id="address1"/></label>
        <br>

        <label for="address2">Address 2:<br><input type="text" size="40" name="account.address2" th:value="${session.account.address2}"class="required input_field" id="address2"/></label>
        <br>

        <label for="city">City:<br><input type="text" name="account.city" th:value="${session.account.city}"class="required input_field" id="city"/></label>
        <br>

        <label for="state">State:<br><input type="text" size="4" name="account.state" th:value="${session.account.state}"class="required input_field" id="state"/></label>
        <br>

        <label for="zip">Zip:<br><input type="text" size="10" name="account.zip" th:value="${session.account.zip}"class="required input_field" id="zip"/></label>
        <br>

        <label for="country">Country:<br><input type="text" size="15" name="account.country" th:value="${session.account.country}"class="required input_field" id="country"/></label>
        <br>

        <h3>Profile Information</h3>
        <script type="text/javascript" src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="js/optionChecked.js"></script>


        <label>Language Preference:<div class="cleaner h10"></div>
            <select name="languagePreference" id="languagePreference" th:each="languages:${session.languages}">
                <option th:text="${languages}">languages</option>
            </select>
        </label>

        <div class="cleaner h10"></div>
        <label>Favourite Category:<div class="cleaner h10"></div>
            <select name="favouriteCategoryId" id="favouriteCategoryId" th:each="categories:${session.categories}">
                <option th:each="${categories}">categories</option>
            </select>
        </label>
        <div class="cleaner h10"></div>

        <label>Enable MyList &nbsp;<input type="checkbox" id="listOption" name="listOption" th:value="listOption" /></label>
        <div class="cleaner h10"></div>

        <label>Enable MyBanner &nbsp;<input type="checkbox" id="bannerOption" name="bannerOption" th:value="bannerOption" /></label>

        <script>
            var a=$.cookie('box1');
            var b=$.cookie('box2');
            var aa=document.getElementById("listOption");
            var bb=document.getElementById("bannerOption");
            console.log(a);
            console.log(b);
            if (a=="true"){
                //console.log("!!!!!!!!!!!");
                //$("#listOption").prop({checked:true});
                //$("#listOption").attr("checked",true);
                aa.checked=true;
            }
            if (a=="false") {
                //console.log("Error");
                //$("#listOption").prop({checked:false});
                //$("#listOption").attr("checked",false);
                aa.checked=false;
            }
            if (b=="true"){
                //console.log("?????????");
                //$("#bannerOption").prop({checked:true});
                //$("#bannerOption").attr("checked",true);
                bb.checked=true;
            }
            if (b=="false") {
                //console.log("Error");
                //$("#bannerOption").prop({checked:false});
                //$("#bannerOption").attr("checked",false);
                bb.checked=false;
            }
        </script>
    </div>
</footer>

</div>
</body>
</html>