<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>My Pet Store</title>
</head>
<body>
<div th:replace="common/top">

</div>

<div class="demo form-bg" id="Catalog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-horizontal" action="/useraccess/login" method="post" >
                    <span class="heading">Login</span>

                    <div class="form-group">
                        <input type="text" name="username" autocomplete="Off" placeholder="Username" class="form-control">
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Password"/>
                        <i><img class="eyes" id="eyes" src="../images/eye2.png" onclick="change()" width="20" height="20"></i>
                    </div>

                    <div class="form-group">
                        <input type="text" id="verifyCode" name="verifyCode" autocomplete="Off" class="form-control" placeholder="VerifyCode"/><br/>
                        <i class="fa fa-check-circle"></i>
                        <img src="/useraccess/verifyCode" id="btn" onclick="verify()"><br/>
                        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                    </div>

                    <div class="form-group">
                        <div class="main-checkbox">
                            <input type="checkbox" value="None" id="checkbox1" name="check"/>
                            <label for="checkbox1"></label>
                        </div>
                        <span class="text">Remember me</span>

                        <button type="submit" id="submit" class="btn btn-default">Login</button>
                    </div>
                    <div class="form-group">
                        Need a user name and password?
                        <a href="/useraccess/viewSignup">Register Now!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/buttom">

</div>
</body>
</html>